.header{
    background-color: purple;
    height: 50px;
    margin-top: 2%;
}

.mainDiv{
    display: flex;
    height: 500px;
}

.sizes{
    width: 90%;
    margin: auto;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;   
}

li {
    width: 7%;
    height: 30px;
    margin-top: 0.75%;
    background-color: aqua;
}

.yellow
{
    background-color: yellow;
    flex: 2;
}

.green{
    background-color: green;
    flex: 1;
}
