body{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(91, 145, 145);
}

.mainDiv{
    display: flex;
    width: 40%;
    height: 500px;
    background-color: rgb(173, 236, 236);
    margin: 0 auto;
    border: 2px solid rgb(91, 145, 145);
    border-radius: 9px;
}

.belso{
    margin-left: 12rem;
    padding-top: 20px;

}

h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
}

.hiba {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}

.inputok{
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

#btn{
    margin-top: 5px;
    width: 105%;
    padding: 5px;
}
