* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c0df85;
    color: #495057;
}

#mainDiv {
    background-color: #eef4d4;
    padding: 40px;
    width: 50%;
    margin: 80px auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#mainDiv h1{
    margin-bottom: 20px;
    font-size: 30px;
}

#keresesBtn {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #e6ccb2;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    border: 2px solid #495057;
    color: #333;
}

#keresesBtn:hover {
    background-color: #b08968;
}

.adatBox {
    padding: 20px;
    margin-top: 20px;
    font-family: 'Arial';
    text-align: center;
}

.adatBox p {
    margin: 8px 0;
    font-size: 16px;
    color: #b08968; 
    font-weight: 500;
}

